<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>D3 Page</title>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js">></script>

       <style>
svg rect.bar {
    fill: #510FAD;
}
svg rect.bar:hover {
    fill: #00C12B;
}
.axis {
    font: 14px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.label {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label polygon {
    fill: #FFFFFF;
    stroke: #A64100;
    stroke-width: 3;
}

</style>

    </head>

<body>
<div id="container"></div>
<script>


var dataset =[];

    {% for city in citys %}
    var c = "{{ city.city }}";
    var d = {{ city.get('pop') }};
    var i = {{ city._id }}
    dataset.push({"label": c, "data": d, "id": i });
     {% endfor %}


/*ширина SVG элемента*/
var svgWidth = 500;

/*высота SVG элемента*/
var svgHeight = 600; 

/*отступы графика внутри SVG элемента*/
var chartMargin = {top: 50, right: 30, bottom: 90, left: 60};

/*ширина графика*/
var chartWidth = svgWidth - chartMargin.right - chartMargin.left;

/*высота графика*/
var chartHeight = svgHeight - chartMargin.top - chartMargin.bottom; 

/*создаем SVG элемент и указываем ему ширину и высоту*/
var svg = d3.select("body")
    .append("svg")
    .attr("width", svgWidth)
    .attr("height", svgHeight);

/*создаем группу, внутри которой будут располагаться элементы графика*/
var chart = svg.append("g")
    .attr("transform", "translate(" + chartMargin.left + "," + chartMargin.top + ")");

/*функция масштабирования значений по оси X*/
var xScale = d3.scale.ordinal()
    .rangeRoundBands([0, chartWidth], .2)
    .domain(dataset.map(function (d) { return d.id; }));

/*функция масштабирования значений по оси Y*/
var yScale = d3.scale.linear()
    .range([chartHeight, 0])
    .domain([0, d3.max(dataset, function (d) { return d.data; })]);

/*функция создания горизонтальной оси Х*/
var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom");

/*функция создания вертикальной оси Y*/
var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");

/*Добавляем оси на график*/
var lHorizontalAxis = chart.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0, " + chartHeight + ")")
    .call(xAxis)
    .selectAll("g.tick")
    .call(tickTextWrapping, xScale.rangeBand());
var lVerticalAxis = chart.append("g")
    .attr("class", "y axis")
    .call(yAxis);

function tickTextWrapping(aTick, aTextMaxWidth) {
    var lTickTextsWidth = 0;
    aTick.each(function (d) {
        var lTick = d3.select(this);
        lTick.select("text").remove();
        var lTextContainerInitialX = 0;
        var lTextContainerInitialY = 17;
        var lTextContainer = lTick.append("g").attr("transform", "translate(" + lTextContainerInitialX + ", " + lTextContainerInitialY + ")");
        var lText = lTextContainer.append("text").text(d).style("text-anchor", "middle");
        var lTextWidth = lText[0][0].clientWidth;
        var lTextHeight = lText[0][0].clientHeight;
        if (aTextMaxWidth/lTextWidth < 1) {
            var lTextRadian = Math.acos(aTextMaxWidth/lTextWidth) * 180 / Math.PI;
            var lTextIndent = lTextHeight / 2;
            lTextContainerInitialY -= lTextIndent;
            lText.attr("transform", "rotate(" + -lTextRadian + ")").attr("dy", lTextIndent).style("text-anchor", "middle");
            var lTextContainerWidth = -lTextWidth * Math.sin(aTextMaxWidth/lTextWidth) / 2 + lTextContainerInitialX;
            var lTextContainerHeight = lTextWidth * Math.cos(aTextMaxWidth/lTextWidth) / 2 + lTextContainerInitialY;
            lTextContainer.attr("transform", "translate(" + lTextContainerWidth + ", " + lTextContainerHeight + ")");
        }
    });
}

/*Добавляем столбики*/
chart.selectAll("rect.bar")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("x", function (d) { return xScale(d.id); })
    .attr("width", xScale.rangeBand())
    .attr("y", function (d) { return yScale(d.data); })
    .attr("height", function (d) { return chartHeight - yScale(d.data); })
    .on("mouseenter", function (d, i) {
        chart.select("#label" + i).style("display", "block");
    })
    .on("mouseleave", function (d, i) { 
        chart.select("#label" + i).style("display", "none"); 
    });

/*Добавляем легенду*/
var lChartCaption = "Города с наибольшим населением";
chart.append("text")
    .attr("x", chartWidth / 2)
    .attr("y", -chartMargin.top / 2)
    .style({"text-anchor": "middle", "font": "24px Courier New"})
    .text(lChartCaption);

/*Ниже код для добавления всплывающей подсказки*/
var labelsContainers = chart.selectAll("g.label")
    .data(dataset)
    .enter()
    .append("g")
    .attr("class", "label")
    .attr("transform", function (d) {
        var lInitialX = xScale(d.id);
        var lX = lInitialX + xScale.rangeBand() / 2;
        var lY = yScale(d.data);
        return "translate(" + lX + ", " + lY + ")";
    })
    .attr("id", function (d, i) { return "label" + i; })
    .style("display", "none");
labelsContainers.append("polygon")
    .attr("points", "0,0 -5,-10 -50,-10 -50,-50 50,-50 50,-10 5,-10");
labelsContainers.append("text")
    .attr("id", function (d, i) { return "date" + i; })
    .attr("x", "0")
    .attr("y", function (d) {
        return -35;
    })
    .style("text-anchor", "middle")
    .text(function (d) { return "Город: " + d.label; });
labelsContainers.append("text")
    .attr("id", function (d, i) { return "value" + i; })
    .attr("x", "0")
    .attr("y", function (d) {
        return -15;
    })
    .style("text-anchor", "middle")
    .text(function (d) { return "Население: " + d.data; });
</script>
</body>

</html>
